{% extends 'AppEntrega1/padre.html' %}
{% load static %}
{% block titulo %}
<h1>{{ mensaje }}</h1>
<h2 class="mb-5">{{ perfil.user }}, TU PERFIL:</h2>
{% endblock %}

{% block que_cambia %} 
<body>
  
      
    
    
        
            
            <p>{{ perfil.user }}</p>
            <p>{{ perfil.descripcion }}</p>
            <p>{{ perfil.link }}</p>
            <p> FOTO DE PERFIL</p>
            <p> <img height='80px' src="{{ perfil.imagen.url }}" alt="imagen de perfil" /></p>


        
        
        
    </form>
    <!--le dejo el  {{ mensaje }} por si me sirve en algun momento.-->
    <a  class="btn btn-warning" href="{% url 'update_perfil' %}">EDITAR PERFIL</a> 
    <a  class="btn btn-danger" href="{% url 'deleteUser' user %}">ELIMINAR MI USUARIO</a> 

</body>

{% endblock %}